body {
    font-family: 'Roboto', Arial;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
    margin: 0;
}

.logo {
    color: #FAFAF8;
    font-size: 24px;
    margin: 0;
    font-weight: 1000;
}

.header {
    background-color: #1F2937;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 8px;
}

.header ul {
    list-style-type: none;
    display: flex;
    gap: 24px;
}

.header a {
    color: #E5E7EB;
    text-decoration: none;
    font-size: 18px;
}

.footer {
    background-color: #1F2937;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer p {
    color: #FAFAF8;
}