body {
    font-family: 'Roboto', Arial;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
    margin: 0;
}

img {
    width: auto;
    height: auto;
}

.logo {
    color: #FAFAF8;
    font-size: 24px;
    margin: 0;
    font-weight: 1000;
}

.header {
    background-color: #1F2937;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 8px;
}

.header ul {
    list-style-type: none;
    display: flex;
    gap: 24px;
}

.header a {
    color: #E5E7EB;
    text-decoration: none;
    font-size: 18px;
}

.footer {
    background-color: #1F2937;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 24px;
}

.footer p {
    color: #FAFAF8;
}

.body {
    display: flex;
    flex-direction: column; 
    flex: 1;
}

.body-title {
    background-color: #1F2937;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 64px;
    padding: 64px;
    flex-wrap: wrap;
}

.body-title h1 {
    font-size: 48px;
    font-weight: 800;
    color: #F9FAF8;
    margin: 0;
}

.body-title p {
    color: #E5E7EB;
    font-size: 18px;
    margin: 0;
}

.body-title img {
    width: 100%;
    height: auto;
    max-width: 80vh;
}

.body-title button {
    background-color: #3882F6;
    color: #F9FAF8;
    font-size: 16px;
    font-weight: bolder;
    border: 0;
    border-radius: 8px;
    padding: 8px 32px;
    margin-top: 12px;
}

.body-title-info {
    max-width: 450px;
}

.body-information h2 {
    text-align: center;
    font-size: 36px;
    font-weight: 900;
    color: #1F2937;
    margin: 48px;
}

.information-container {
    display: flex;
    justify-content: center;
    gap: 48px;
    margin-bottom: 128px;
    flex-wrap: wrap;
}

.individual-info {
    flex: auto;
    max-width: 175px;
    text-align: center;
}

.individual-info div {
    border: 4px solid #3882F6;
    border-radius: 16px;
    height: 150px;
    width: 150px;
}

.individual-info p {
    font-size: 18px;
    color: #5b5f64;
}

.body-quote {
    background-color: #E5E7EB;
    padding: 64px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.quote-container {
    display: flex;
    flex-direction: column;
    width: 790px;
    margin: 80px 0;
}

.quote-container .quote-text{
    color: #1F2937;
    font-size: 36px;
    font-style: italic;
    font-weight: 300;
    margin: 0;
}

.quote-container .quote-credit {
    color: #1F2937;
    text-align: end;
    font-weight: 700;
    font-size: 24px;
    padding-right: 24px;
    margin: 0;
}

.body-button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 72px 0;
}

.button-container {
    background-color: #3882F6;
    border-radius: 6px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 48px 96px;
    max-width: 900px;
    margin: 0 24px;
    flex-wrap: wrap;
    flex: auto;
}

.button-container button {
    border: 2px solid #F9FAF8;
    border-radius: 6px;
    color: #F9FAF8;
    background-color: #3882F6;
    padding: 6px 32px;
    font-weight: bolder;
    font-size: 16px;
}

.button-info {
    padding: 16px;
    padding-left: 0px;
}

.button-info h4,
.button-info p {
    color: #F9FAF8;
    margin: 0;
}

.button-info h4 {
    font-size: 20px;
}

.button-info p {
    font-size: 16px;
}